---
layout: home
---

<div class="row">
  <div class="col-md-8">
    {% for post in site.posts limit:3 %}
      <header class="post-header">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}"><h1 class="post-title">{{post.title}}</h1></a>
      </header>
  
      <div class="post-content" itemprop="articleBody">
        {{post.excerpt}}
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default">Continue reading...</a>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    {% assign reviewed = site.data.books[0] %}
    <div class="panel panel-default">
      <div class="panel-body" style="text-align: center;">
        <img src="{{ "/images/photo.jpg" | relative_url }}" class="img-circle" width="150">
        <h2>Kênia Sousa</h2>
        <p></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recent Posts</h3>
      </div>
      <div class="panel-body">
        <ul class="post-list">
          {% for post in site.posts offset:3 limit:5 %}
            {% if post.title != page.title %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
