<footer class="site-footer">
  <div class="container">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="fr_FR" data-type="horizontal" data-theme="light" data-vanity="keniasousa"><a class="LI-simple-link" href='https://be.linkedin.com/in/keniasousa?trk=profile-badge'>Kênia Sousa</a></div>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-3">

      </div>
    </div>
  </div>
</footer>
