---
layout: default
---
<article class="post">

  <header class="intro-header" style="background-image: url('/assets/img/{{ page.title | lowercase }}-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>{{ page.title | escape }}</h1>
                      <hr class="small">
                      <span class="subheading">{{ page.excerpt }}</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container">
    {{ content }}
  </div>

</article>
